.patient-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .patient-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .patient-title {
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
  }
  
  .patient-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  
  .btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 8px;
    font-size: 0.9rem;
  }
  
  .patient-btn {
    background-color: #28a745;
  }
  
  .edit-btn {
    background-color: #17a2b8;
  }
  
  .delete-btn {
    background-color: #dc3545;
  }
  
  .patient-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .patient-table th,
  .patient-table td {
    padding: 17px;
    border: 1px solid #000000;
    text-align: center;
  }
  
  .patient-table th {
    background-color: #f8f9fa;
    color: #333;
  }
  
  .patient-table tr {
    background-color: #000000;
  }
  
  .button{
    display: flex;
    padding: 0;
  }
  
  /*Dcreate*/
  
  .container {
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-box {
    width: 50%;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
  }
  
  .form-group input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .submit-btn {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    background-color: #28a745;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #218838
  }